@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: lavenderblush;
  font-family: 'Open Sans';
  height: 100vh;
  position: relative;
}
.logo {
  width: 300px;
  position: absolute;
  left: calc(50% - 300px / 2);
}
.podlogo {
  position: absolute;
}
